<mat-card class="mat-elevation-z6">
  <p>Austin Public Schools students, families, and staff,</p>
  <br />

  <p>
    First, thank you for the understanding as we had to quickly move into
    distance learning to address the COVID situation at Palmer Bus last week.
    During this time, Palmer Bus has been able to quarantine affected staff,
    thoroughly sanitize all buses, and prepare to resume operations with a
    healthy fleet of drivers. The district has also been able to notify any
    students affected directly.
  </p>
  <br />

  <p>
    We are happy to announce that on Monday, March 22, we will be returning to
    the instructional model we have been in this year (in person for grades PK-6
    and hybrid for grades 7-12). Bus routes and schedules will resume as they
    were prior to the move to Distance Learning. We are excited to welcome our
    students back.
  </p>
  <br />
  <p>
    The District will continue to monitor the COVID and quarantine rates in our
    schools and Mower County. This data along with Minnesota Department of
    Health and Minnesota Department of Education guidance will help us as we
    make a decision next Wednesday what our Instructional Model will be after
    Spring Break.
  </p>
  <br />
  <br />
  <p>
    Thank you,
    <br />
    David Krenz
    <br />
    Superintendent
  </p>
</mat-card>
