<mat-card>
  <p>Dear Austin Public Schools families,</p>
  <br />
  <p>
    After very careful review, we have decided to make the difficult decision to
    move to a distance learning period beginning tomorrow, March 11 through
    March 19, with in person and hybrid learning resuming on March 22. A
    significant level of Covid-19 is occurring in our contracted bus service,
    significantly impacting our ability to transport students. At this time, all
    in person learning will need to be suspended.
  </p>
  <br />
  <p>
    Extracurricular transportation guidance will be provided by coaches and
    advisors.
  </p>
  <br />
  <p>
    CLC, Woodson, and elementary schools will be using the flexible learning
    bingo card on Thursday and will be in contact with their families about
    acquiring the necessary materials for this distance learning period.
  </p>
  <br />
  <p>
    Kids Korner will be closed beginning March 11 and an emergency childcare
    plan will be communicated with a start date of March 15.
  </p>

  <br />
  <p>
    Grab and go breakfast and lunch will be available at every site for pick up
    from 11:30-12:30.
  </p>
  <br />
  <br />

  <p>Thank you for your understanding,</p>
  <br />
  <p>David Krenz</p>
</mat-card>
