<mat-card>
  <mat-card-header>{{ buildingInfo?.title }}</mat-card-header>
  <mat-list>
    <mat-list-item *ngIf="buildingInfo?.principal"
      >Principal
      <span
        ><strong>{{ buildingInfo?.principal }}</strong></span
      ></mat-list-item
    >
    <app-detail-contact-item
      *ngFor="let contact of buildingInfo?.detailContacts"
      [name]="contact.name"
      [email]="contact.email"
      [phoneNumber]="contact.phoneNumber"
      [title]="contact.title"
    ></app-detail-contact-item>
    <app-contact-item
      *ngFor="let contact of buildingInfo?.contacts"
      [name]="contact.name"
      [number]="contact.number"
    ></app-contact-item>
  </mat-list>
</mat-card>
