<button id="schools-dorp-down" mat-button [mat-menu-trigger-for]="menu">Schools</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Austin High <a href="tel:15074601800">(507)-460-1800</a></button>
  <button mat-menu-item>Ellis <a href="tel:15074601500">(507)-460-1500</a></button>
  <button mat-menu-item>IJ Holton <a href="tel:15074601525">(507)-460-1525</a></button>
  <button mat-menu-item>Banfield School <a href="tel:15074601200">(507)-460-1200</a></button>
  <button mat-menu-item>Neveln <a href="tel:15074601600">(507)-460-1600</a></button>
  <button mat-menu-item>Southgate <a href="tel:15074601300">(507)-460-1300</a></button>
  <button mat-menu-item>Sumner <a href="tel:15074601100">(507)-460-1100</a></button>
  <button mat-menu-item>Woodson <a href="tel:15074601400">(507)-460-1400</a></button>
  <button mat-menu-item>Community Learning Center <a href="tel:15074601700">(507)-460-1700</a></button>
  <button mat-menu-item>Area Learning Center <a href="tel:15074601800">(507)-460-1800</a></button>
</mat-menu>
