<h3>District Calendars</h3>
<mat-list>
  <a mat-raised-button href="../../../assets/2020-21Calendar.pdf">Calendar</a>
  <a mat-raised-button href="../../../assets/2020-21CalendarHybridSchedule.pdf"
    >Hybrid Calendar</a
  >
  <a mat-raised-button href="../../../assets/2020-21CalendarTranslated.pdf"
    >Calendar en Español</a
  >
  <a mat-raised-button href="../../../assets/2020-21ModifiedCalendar.pdf"
    >45/15 Calendar</a
  >
  <a
    mat-raised-button
    href="../../../assets/2020-21ModifiedCalendarTranslated.pdf"
    >45/15 Calendar en Español</a
  >
</mat-list>
